@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root {
  --base-borderRadius: 6px
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

body {
  background: url('/public/images/cliffbg.jpg') no-repeat fixed;
  background-size: cover;
}

.App {
  margin: 30px auto;
  width: 90%;
  max-width: 860px;
  color: #333;
}

.nav {
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 1.8rem;
  text-align: center;
  background: rgba(255, 255, 255, 0.955);
  border-radius: var(--base-borderRadius);
}

.nav h1 {
  letter-spacing: 5px;
  margin-bottom: 5px;
}

.nav p {
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 1px;
}

.book-list {
  margin: 0px;
}

.book-details {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.book-list ul {
  padding: 0;
  list-style-type: none;
  background: rgba(255, 255, 255, 0.597);
  border-radius: var(--base-borderRadius);
}

.book-list li { 
  padding: 13px;
  margin: 10px;
  border-bottom: 3px solid rgba(51, 51, 51, 0.159);
}

.book-list img:hover {
  transform: scale(1.1);
}

.book-list .title {
  font-weight: bold;
  font-size: 1.6rem;
  text-transform: capitalize;
  margin-bottom: .3px;
}

.book-list .author {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: capitalize;
}

img {
  width: 49.7px;
  cursor: pointer;
}

.empty {
  margin: 20px;
  font-size: 1.7rem;
  font-weight: 900;
  text-align: center;
  opacity: 0.7;
}

form {
  margin-top: 50px;
  padding: 20px;
}

input {
  width: 100%;
  padding: 10px;
  background: rgba(255, 255, 255, 0.321);
  margin: 6px 0;
  border: 0;
  border-radius: var(--base-borderRadius);;
  height: 60px;
  text-indent: 10px;
  outline: transparent;
  color: #000;
}

button {
  margin: 10px auto;
  padding: 6px 20px;
  display: block;
  border-radius: var(--base-borderRadius);;
  height: 50px;
  background: rgba(255, 255, 255, 0.965);
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.head {
  display: flex;
  justify-content: center;
}

.logo {
  width: 50px;
  margin-top: 15px;
  margin-left: 10px;
}

.emptyLogo {
  width: 45px;
  padding-top: 150px;
  margin-left: 15px;
  opacity: 0.7;
}
