@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

body {
  background: url('https://images.hdqwalls.com/wallpapers/journey-goes-on-ny.jpg') no-repeat fixed;
  background-size: cover;
}

.App {
  margin: 30px auto;
  width: 90%;
  max-width: 1060px;
  color: #333;
}

.nav {
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 2rem;
  text-align: center;
  background: rgba(255, 255, 255, 0.671);
  border-radius: 6px;
}

.nav h1 {
  letter-spacing: 5px;
}

.nav p {
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.book-list {
  margin: 0px;
}

.book-details {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.book-list ul {
  padding: 0;
  list-style-type: none;
  background: rgba(255, 255, 255, 0.233);
  border-radius: 6px;
}

.book-list li { 
  padding: 20px;
  margin: 10px;
  border-bottom: 3px solid rgba(51, 51, 51, 0.159);
}

.book-list img:hover {
  transform: scale(1.1);
}

.book-list .title {
  font-weight: bold;
  font-size: 1.7rem;
}

.book-list .author {
  font-size: 1.4rem;
}

img {
  width: 50px;
  cursor: pointer;
}

.empty {
  margin: 20px;
  font-size: 1.8rem;
  text-align: center;
}

form {
  margin-top: 50px;
  padding: 20px;
}

input {
  width: 100%;
  padding: 10px;
  background: rgba(255, 255, 255, 0.233);
  margin: 6px 0;
  border: 0;
  border-radius: 6px;
  height: 60px;
  text-indent: 10px;
  outline: transparent;
}

button {
  margin: 10px auto;
  padding: 6px 20px;
  display: block;
  border-radius: 6px;
  height: 50px;
  background: rgba(255, 255, 255, 0.671);
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}